.index-body {
    background-color: rgb(100, 214, 180);
    font-family: 'Courier New', Courier, monospace;
}

.recipes-heading {
    text-align: center;
    color: rgb(40, 25, 75);
    font-size: 100px;
}

.recipe-list {
    font-size: 40px;
}

.scrambled {
    background-color: gold;
    color: yellow;
}

.toast {
    background-color: rgb(209, 161, 161);
    color: red;
}

.omelette {
    background-color: rgb(44, 167, 19);
    color: rgb(44, 167, 19);
}

.scrambled-body {
    background-color: rgb(238, 238, 69);
    font-family: 'Comic Sans', 'Courier New', monospace;
}

.scrambled-body h1 {
    text-align: center;
}

img {
    width: auto;
    height: auto;
}