.index-body {
    background-color: rgb(161, 77, 77);
    font-family: 'Courier New', Courier, monospace;
}

.recipes-heading {
    text-align: center;
    color: rgb(40, 25, 75);
    font-size: 100px;
}

.recipe-list {
    font-size: 40px;
}

.scrambled {
    background-color: gold;
    color: yellow;
}

.toast {
    background-color: rgb(209, 161, 161);
    color: rgb(209, 161, 161);
}

.omelette {
    background-color: rgb(44, 167, 19);
    color: rgb(44, 167, 19);
}

.scrambled-body {
    background-color: rgb(238, 238, 69);
    font-family: 'Comic Sans', 'Courier New', monospace;
}

img {
    width: auto;
    height: auto;
}

.toast-body {
    background-color: hsl(0, 59%, 41%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.omelette-body {
    background-color: rgb(144, 224, 144);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.omelette-body img {
    width: 40vw;
    height: auto;
}
